name: Build JAR
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./gradlew build
      - uses: actions/upload-artifact@v2
        with:
          name: ManHunt
          path: build/libs/ItemszopPlugin-1.0.jar