# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [ push, pull_request ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3.1.1
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}
      - name: Itemszop plugin
        run: ./gradlew build
      - name: Upload Itemszop plugin
        uses: actions/upload-artifact@v3.0.0
        with:
          name: Itemszop plugin Built On JDK ${{ matrix.java }}
          path: "Spigot/build/libs/itemszop*.jar"
      - uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: dev-build-jdk-${{ matrix.java }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release the build
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: "Spigot/build/libs/itemszop*.jar"
          body: ${{ join(github.event.commits.*.message, '\n') }}
          prerelease: true
          name: JDK ${{ matrix.java }} dev-build
          tag: dev-build-jdk-${{ matrix.java }}
      - name: Upload Itemszop plugin
        uses: actions/upload-artifact@v3.0.0
        with:
          name: Itemszop plugin Built On JDK ${{ matrix.java }}
          path: "Velocity/build/libs/itemszop*.jar"
      - uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: dev-build-jdk-${{ matrix.java }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release the build
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: "Velocity/build/libs/itemszop*.jar"
          body: ${{ join(github.event.commits.*.message, '\n') }}
          prerelease: true
          name: JDK ${{ matrix.java }} dev-build
          tag: dev-build-jdk-${{ matrix.java }}

